.card-container{
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    width: 33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-div{
    max-width: 100%;
}
.img-div img{
    width: 100%;
}
.card-heading{
    font: 40px;
    padding-bottom: 12px;
    text-align: center;
}
.card-text{
    font-size: 14px;
    padding-bottom: 12px;
}
.card-btn{
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}